body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

a,
button,
details,
.pointer {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include tel {
    width: 480px;
  }

  @include tab {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include desk {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.current {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
