:root {
  --current-color-active-link: #d41443;
  --btn-dark-color: #ffffff;
  --btn-dark-bg-color: #d41443;
  --btn-light-color: #d41443;
  --btn-light-bg-color: #ffffff;
  --btn-dark-hover-bg-color: #c7133e;
  --btn-light-hover-bg-color: #ecebeb;
  --text-white-color: #ffffff;
  --title-dark-color: #c7133e;
  --title-light-color: #ffa5ba;
  --title-white-color: #ffffff;
  --accent-color: #c7133e;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --trans-time: 250ms;
}
