<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__theme element-animation">
      ice cream made with
      <span class="colorized">passion</span>
    </h1>
    <ul class="our-network element-animation">
      <li class="our-network__item">
        <p class="our-network__nomber">16</p>
        <p class="our-network__profile">cafes</p>
      </li>
      <li class="our-network__item">
        <p class="our-network__nomber">23</p>
        <p class="our-network__profile">food trucks</p>
      </li>
    </ul>
    <div class="hero__btns element-animation">
      <a class="hero__btn-link hero__btn btn-main btn-dark" href="#products">Products</a>
      <a class="hero__btn-link hero__btn btn-main btn-light" href="#howitsmade">How it’s made?</a>
    </div>
    <div class="description">
      <p class="description__text">We make all of our ice cream, sherbet and italian ice right here in our kitchen. </p>
      <details class="descriprion__details pointer">
        <summary class="description__summary pointer"></summary><span>It is handmade in small batches several days a week,
          so it is always fresh! Yum!</span>
      </details>
    </div>
  </div>
  
</section>
